<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kuka.CSServer.mapper.UserMapper">
  <resultMap id="Base_Result_Map" type="com.kuka.CSServer.entity.User">
    <constructor>
      <idArg column="id" javaType="_long" jdbcType="BIGINT" />
      <arg column="username" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="password" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, username, password
  </sql>
  <!-- find all -->
  <select id="findAll" resultType="User">
    SELECT 
    <include refid="Base_Column_List" />
    FROM users
  </select>
  <!-- find by id -->
  <select id="findById" parameterType="_long" resultMap="Base_Result_Map">
    SELECT 
    <include refid="Base_Column_List" />
    FROM users
    WHERE id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteById">
        DELETE FROM users WHERE id = #{id, jdbcType=BIGINT}
  </delete>

  <insert id="createOne" parameterType="User" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO users (username, password)
    VALUES (#{username}, #{password})
  </insert>

</mapper>
